<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SPI_SUPPORT_WIP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PVSWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.28.10.17:99/Service/PVSWebService.asmx" binding="basicHttpBinding" bindingConfiguration="PVSWebServiceSoap" contract="ServiceReference.PVSWebServiceSoap" name="PVSWebServiceSoap" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="SOFTWAREEntities" connectionString="metadata=res://*/Database.ModelEntity.csdl|res://*/Database.ModelEntity.ssdl|res://*/Database.ModelEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.28.10.17;initial catalog=SOFTWARE;persist security info=True;user id=sa;password=umc@2019;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UMC_MESDB_TESTEntities" connectionString="metadata=res://*/Database.ModelService.csdl|res://*/Database.ModelService.ssdl|res://*/Database.ModelService.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.28.10.8;initial catalog=UMC_MESDB_TEST;persist security info=True;user id=sa;password=$umcevn123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <userSettings>
    <SPI_SUPPORT_WIP.Properties.Settings>
      <setting name="PathlogICT" serializeAs="String">
        <value />
      </setting>
      <setting name="OutputLog" serializeAs="String">
        <value />
      </setting>
      <setting name="Station" serializeAs="String">
        <value />
      </setting>
      <setting name="TimeSleep" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Process" serializeAs="String">
        <value />
      </setting>
      <setting name="Location" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Model" serializeAs="String">
        <value />
      </setting>
      <setting name="PCPSheet" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LengBarcode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Index" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="To" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ONOFF" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PCName" serializeAs="String">
        <value />
      </setting>
      <setting name="COMPort" serializeAs="String">
        <value />
      </setting>
      <setting name="StationIndex" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="StationTo" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="EnableCOM" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DataModel" serializeAs="String">
        <value />
      </setting>
      <setting name="DataModelStop" serializeAs="String">
        <value />
      </setting>
      <setting name="OldStation" serializeAs="String">
        <value />
      </setting>
      <setting name="SPECIAL" serializeAs="String">
        <value>False</value>
      </setting>
    </SPI_SUPPORT_WIP.Properties.Settings>
  </userSettings>
</configuration>